<h3>文章列表</h3>
<strong><%= link_to '新建文章', new_article_path %> </strong>
<br>

<table>
	<tr>
		<th>标题</th>
		<th>内容</th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
		  <td><%= article.title %></td>	
		  <td><%= article.text %></td>
		  <td><%= link_to '阅读原文', article_path(article) %></td>
		  <td><%= link_to '修改', edit_article_path(article) %></td>
		  <td><%= link_to '删除', article_path(article), method: :delete, data: { confirm: "你确定删除这篇文章吗？"} %></td>
		</tr>
		<% end %>
</table>